body{
  margin: 0px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header{
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid seashell;
  height: 69px;
  color: seashell;
  background-color: pink;
}

.logo{
  display: flex;
  flex-grow: 1;
}

.logo img{
  margin-left: 10px;
  height: 50px;
}

nav span a{
  display: inline-block;
  text-decoration: underline;
  color: seashell;
  padding: 20px 40px;
}
